Repository sathish-soundarapandian/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-cv, @harness/ui-sto, @harness/ui-ce, @harness/ui-platform, @harness/error-tracking, @harness/ui-pipeline, @harness/ui-cd-core, @harness/ui-templates, @harness/ui-ci, @harness/ui-triggers, @harness/ui-chaos

fix: [CDS-68477]: HF for redirecting global freeze to list view when clicked from audit trail list view (#16185)
  package.json
  src/modules/72-freeze-windows/RouteDestinations.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

custom selection for logs
  src/modules/70-pipeline/components/LogsContent/components/GroupHeader/GroupHeader.module.scss
  src/modules/70-pipeline/components/LogsContent/components/GroupedLogs.tsx
  src/modules/70-pipeline/components/LogsContent/components/LogsSectionProvider/LogsSectionProvider.tsx
  src/modules/70-pipeline/components/LogsContent/components/LogsSectionProvider/logsSelectionUtils.ts
  src/modules/70-pipeline/components/LogsContent/components/MultiLogLine/MultiLogLine.module.scss
  src/modules/70-pipeline/components/LogsContent/components/MultiLogLine/MultiLogLine.module.scss.d.ts
  src/modules/70-pipeline/components/LogsContent/components/MultiLogLine/MultiLogLine.tsx
Owners: @harness/ui-pipeline

feat: [PL-32595]: Disabled search in case of loading in swtich account
  package.json
  src/modules/10-common/modals/SwitchAccount/SwitchAccount.module.scss
  src/modules/10-common/modals/SwitchAccount/SwitchAccount.module.scss.d.ts
  src/modules/10-common/modals/SwitchAccount/SwitchAccount.tsx
  src/modules/10-common/modals/SwitchAccount/useSwitchAccountModal.tsx
Owners: @harness/ui-council

Add base approval step data
  configs/webpack.common.js
  src/global.d.ts
  src/modules/70-pipeline/RouteDestinations.tsx
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/85-iacm/RouteDestinations.tsx
  src/modules/85-iacm/components/IACMApp/index.tsx
  src/modules/85-iacm/components/IACMApproval/index.tsx
Owners: @harness/ui-council, @abhinavrastogi-harness, @harness/ui-pipeline

fix: [PL-39279]: test button for gcp secret manager (#16191)
  package.json
  src/modules/30-secrets/components/CreateUpdateSecret/views/VaultFormFields.tsx
Owners: @harness/ui-council, @harness/ui-platform

approval step import
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/85-iacm/components/IACMApproval/index.tsx
Owners: @harness/ui-pipeline

undo comment
  src/modules/70-pipeline/RouteDestinations.tsx
Owners: @harness/ui-pipeline

rebase
  src/modules/70-pipeline/RouteDestinations.tsx
Owners: @harness/ui-pipeline

fix: [CI-7974]: V1 yaml fixes (#16188)
  package.json
  src/modules/70-pipeline/v1/components/RunPipelineModalV1/CICodebaseInputSetFormV1.tsx
  src/modules/70-pipeline/v1/components/RunPipelineModalV1/tests/__snapshots__/CICodebaseInputSetFormV1.test.tsx.snap
Owners: @harness/ui-council, @harness/ui-pipeline

minor update
  src/modules/70-pipeline/components/LogsContent/components/LogsSectionProvider/LogsSectionProvider.tsx
Owners: @harness/ui-pipeline

fix: [CDS-71179]: added Load-From-Cache support for getPipeline, getStagesExecutionList, etc. in Triggers module (#16199)
  package.json
  src/modules/70-pipeline/components/RunPipelineModal/RunPipelineForm.tsx
  src/modules/72-triggers/components/StageSelection/StageSelection.tsx
  src/modules/72-triggers/components/TriggerDetails/TriggerDetails.tsx
  src/modules/72-triggers/components/Triggers/ArtifactTrigger/ArtifactTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/ManifestTrigger/ManifestTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/ScheduledTrigger/ScheduledTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/WebhookTrigger/WebhookTriggerWizard.tsx
  src/modules/72-triggers/components/steps/ArtifactTriggerInputPanel/ArtifactTriggerInputPanel.tsx
  src/modules/72-triggers/components/steps/ManifestPipelineInputPanel/ManifestPipelineInputPanel.tsx
  src/modules/72-triggers/components/steps/WebhookPipelineInputPanel/WebhookPipelineInputPanel.tsx
  src/modules/72-triggers/pages/trigger-details/TriggerDetails.tsx
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerDetailPage/TriggerDetailPage.tsx
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerLandingPage.tsx
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
  src/services/pipeline-ng/index.tsx
Owners: @harness/ui-council, @harness/ui-pipeline, @harness/ui-triggers

fix: [CDS-71320]: fix the UI hang on change of job name to expressions (#16208)
  cypress/integration/70-pipeline/JenkinsStep.spec.ts
  package.json
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
  src/modules/75-cd/components/Services/utils/ServiceUtils.ts
Owners: @harness/ui-council, @harness/ui-pipeline, @harness/ui-templates

fix: [CDS-71320]: fix the UI hang on change of job name to expressions (#16212)
  cypress/integration/70-pipeline/JenkinsStep.spec.ts
  package.json
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

fix: added cypress tests
  cypress/fixtures/pipeline/api/pipelineWithAllStages.json
  cypress/fixtures/pipeline/api/pipelineWithAllStagesAfterSave.json
  cypress/integration/70-pipeline/DisableStageStep.spec.ts
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.tsx
Owners: @harness/ui-pipeline

fix: yaml tets
  cypress/integration/70-pipeline/DisableStageStep.spec.ts
Owners: none

chore: [PL-38632]: Updating to latest service discovery APIs and dAgent naming update
  configs/restful-react.config.js
  src/modules/10-common/RouteDefinitions.ts
  src/modules/10-common/interfaces/RouteInterfaces.ts
  src/modules/10-common/pages/pageContext/PageName.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/10-common/utils/routeUtils.ts
  src/modules/73-discovery/RouteDestinations.tsx
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.tsx
  src/modules/73-discovery/pages/discovery-details/DiscoveryDetails.tsx
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/DiscoveredServices.tsx
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.tsx
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.module.scss
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.module.scss.d.ts
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.tsx
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.module.scss
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.module.scss.d.ts
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.tsx
  src/modules/73-discovery/strings/strings.en.yaml
  src/services/servicediscovery/index.tsx
  src/stringTypes.ts
Owners: @harness/ui-council, @abhinavrastogi-harness

fix: [CDS-70784]: send entire repo name to initial filter
  src/modules/70-pipeline/pages/pipeline-list/PipelineListFilter/PipelineListFilter.tsx
Owners: @harness/ui-pipeline

fix: [CDS-71320]: fixing expression type in jenkins jobName (#16221)
  package.json
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/JenkinsArtifact/JenkinsArtifact.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/JenkinsArtifactSource/JenkinsArtifactSource.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

feat: [CDS-48387]:fix
  src/modules/10-common/featureFlags.ts
  src/modules/75-cd/components/PipelineSteps/AzureSlotDeployment/AzureSlotDeploymentInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/AzureSlotDeployment/AzureSlotDeploymentInterface.types.ts
  src/modules/75-cd/components/PipelineSteps/AzureSlotDeployment/AzureSlotDeploymentRef.tsx
Owners: @harness/ui-pipeline

feat: [PL-32773]: add manual vault configure to azure key vault
  src/modules/35-connectors/components/CreateConnector/CreateAzureKeyConnector/views/SetupVault.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-platform

chore: [CHAOS-1701]: Select Services Header edit
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.module.scss
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.module.scss.d.ts
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.tsx
  src/modules/73-discovery/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

feat: [PLG-2207]: supporting multiple modules on billing page
  src/modules/33-auth-settings/components/Subscription/subscriptionUtils.tsx
  src/modules/33-auth-settings/pages/Billing/BillingPage.tsx
  src/modules/33-auth-settings/pages/Billing/SubscriptionTable.tsx
Owners: @harness/ui-platform

fix: [PLG-964]: removing extend trial button
  src/modules/10-common/layouts/TrialLicenseBanner.tsx
Owners: @harness/ui-council, @harness/ui-plg

improvements
  src/modules/70-pipeline/components/LogsContent/components/GroupedLogs.tsx
  src/modules/70-pipeline/components/LogsContent/components/LogsSelectionProvider/LogsSelectionProvider.tsx
  src/modules/70-pipeline/components/LogsContent/components/LogsSelectionProvider/logsSelectionUtils.ts
  src/modules/70-pipeline/components/LogsContent/components/MultiLogLine/MultiLogLine.module.scss
  src/modules/70-pipeline/components/LogsContent/components/MultiLogLine/MultiLogLine.tsx
  src/modules/70-pipeline/components/LogsContent/components/SingleSectionLogs.tsx
Owners: @harness/ui-pipeline

feat: [PL-39281]: fixed repoName in pipeline list filter
  src/modules/70-pipeline/pages/pipeline-list/PipelineListFilter/PipelineListFilter.tsx
Owners: @harness/ui-pipeline

fix: [CDS-69872]: Refresh token OIDC support for service now connector
  src/modules/10-common/featureFlags.ts
  src/modules/35-connectors/components/CreateConnector/ServiceNowConnector/ServiceNowDetailsForm.tsx
  src/modules/35-connectors/pages/connectors/utils/ConnectorHelper.tsx
  src/modules/35-connectors/pages/connectors/utils/ConnectorUtils.ts
  src/modules/35-connectors/pages/connectors/views/savedDetailsView/SavedConnectorDetails.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-platform

feat: [PL-31655]: Removing SPG_SIDENAV_COLLAPSE and NEW_LEFT_NAVBAR_SETTINGS feature flags
  src/modules/10-common/RouteDestinations.tsx
  src/modules/10-common/components/NGBreadcrumbs/NGBreadcrumbs.tsx
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/layouts/MinimalLayout.tsx
  src/modules/10-common/navigation/MainNav/MainNav.tsx
  src/modules/10-common/navigation/MainNav/__tests__/MainNav.test.tsx
  src/modules/10-common/navigation/ProjectSetupMenu/ProjectSetupMenu.tsx
  src/modules/10-common/navigation/SideNav/SideNav.tsx
  src/modules/45-projects-orgs/RouteDestinations.tsx
  src/modules/45-projects-orgs/components/ProjectsSideNav/ProjectsSideNav.tsx
  src/modules/45-projects-orgs/pages/projects/views/ProjectDetails/ProjectDetails.tsx
Owners: @harness/ui-council, @harness/ui-plg, @harness/ui-platform

fix: fixed types
  src/modules/10-common/navigation/MainNav/MainNav.tsx
Owners: @harness/ui-platform

fix: [CDS-71320]: prod HF for fixing expression type in jenkins jobName (#16235)
  package.json
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/JenkinsArtifact/JenkinsArtifact.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/JenkinsArtifactSource/JenkinsArtifactSource.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

fix: prettier
  src/modules/10-common/navigation/ProjectSetupMenu/ProjectSetupMenu.tsx
Owners: @harness/ui-platform

chore: [CHAOS-1701]: Select Service get API with css
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.module.scss
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.module.scss.d.ts
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.tsx
  src/modules/73-discovery/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: updated snapshots
  src/modules/10-common/layouts/__tests__/__snapshots__/DefaultLayout.test.tsx.snap
  src/modules/10-common/navigation/MainNav/__tests__/MainNav.test.tsx
  src/modules/10-common/router/__snapshots__/RouteWithLayout.test.tsx.snap
  src/modules/45-projects-orgs/components/ProjectsSideNav/__snapshots__/ProjectsSideNav.test.tsx.snap
  src/modules/45-projects-orgs/pages/projects/__tests__/__snapshots__/ProjectsPageView.test.tsx.snap
  src/modules/72-templates-library/components/TemplateStudio/__tests__/__snapshots__/TemplateStudioInternal.test.tsx.snap
Owners: @harness/ui-council, @harness/ui-plg, @harness/ui-platform, @harness/ui-templates

fix: fixed types
  src/modules/10-common/navigation/SideNav/__tests__/SideNav.test.tsx
Owners: @harness/ui-platform

feat: [CDS-70144]: Allow branch change in same repo in pipeline/template studio while using templates
  src/modules/10-common/utils/gitSyncUtils.ts
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/TemplateBar/TemplateBar.tsx
  src/modules/70-pipeline/hooks/useAddStepTemplate.ts
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates, @harness/ui-ci

handled for step template and disabled branch change if repo is different
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates

feat: handle different repo different branch case + load stage icon for stage templates
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineContext.tsx
  src/modules/70-pipeline/components/PipelineStudio/TemplateBar/TemplateBar.tsx
  src/modules/70-pipeline/hooks/useAddStepTemplate.ts
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplatePipelineContext/TemplatePipelineContext.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates, @harness/ui-ci

updated naming for function
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineContext.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplatePipelineContext/TemplatePipelineContext.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates

minor fixes
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: updated logic for showing gitbranch in yaml by introducing default branch in template interface
  src/framework/Templates/TemplateSelectorContext/useTemplateSelector.ts
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/types.ts
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/types.ts
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/hooks/useAddStepTemplate.ts
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
  src/modules/75-cd/components/PipelineSteps/InfraProvisioning/InfraProvisioningBase.tsx
  src/modules/75-cd/components/PipelineSteps/InfraProvisioning/InfraProvisoningEntityBase.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageViewInterface.ts
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-council, @harness/ui-pipeline, @harness/ui-templates, @harness/ui-ci

fixed edge cases in pipeline and send parent details onlyin non default behaviour
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineContext.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineSpecifications/TemplatePipelineSpecifications.tsx
  src/modules/70-pipeline/components/PipelineStudio/TemplateBar/TemplateBar.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/PipelineSteps/TemplateStep/TemplateStepWidget/TemplateStepWidget.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness
src/index.html @harness/ui-council
src/microfrontends/ @abhinavrastogi-harness @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/services/cv @harness/ui-cv
src/services/sto @harness/ui-sto
src/services/ce @harness/ui-ce
src/services/ticket-service @harness/ui-sto
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/38-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/75-cet @harness/error-tracking
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/38-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-pipeline
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/70-pipeline/interfaces/STOApp.ts @harness/ui-sto
src/modules/70-pipeline/pages/execution/ExecutionSecurityView @harness/ui-sto
src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm @harness/ui-cd-core
src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm @harness/ui-cd-core
src/modules/72-templates-library @harness/ui-templates
src/modules/72-freeze-windows @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications @harness/ui-cd-core
src/modules/75-cd/components/Services/ServiceStudio @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesArtifacts @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/PrimaryArtifact @harness/ui-cd-core
src/modules/75-cd/components/EnvironmentsV2 @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentGroupStep @harness/ui-cd-core
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-cd-core
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
src/modules/75-chaos @harness/ui-chaos
src/modules/70-pipeline/pages/execution/ResilienceView @harness/ui-chaos
