Repository sathish-soundarapandian/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-cv, @harness/ui-sto, @harness/ui-ce, @harness/ui-platform, @harness/error-tracking, @harness/ui-pipeline, @harness/ui-cd-core, @harness/ui-templates, @harness/ui-ci, @harness/ui-triggers, @harness/ui-chaos

fixed edge cases for different repo different branch
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
Owners: @harness/ui-templates

fixed jest and updated dependencies to reduce api calls
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplateDetails/__tests__/TemplateDetails.test.tsx
Owners: @harness/ui-templates

feat: send parent entity details in api for default behaviour
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/10-common/utils/gitSyncUtils.ts
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates

fix sending parent entity details
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
Owners: @harness/ui-templates

fix: rendering of nested stage templates in remote pipeline
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
Owners: @harness/ui-pipeline

resolved comments + send branch in validate-inputset api in templates
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineContext.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplatePipelineContext/TemplatePipelineContext.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates

feat: [CHAOS-1702]: Added sevice details modal
  src/modules/73-discovery/components/ServiceDetails/ListItems.tsx
  src/modules/73-discovery/components/ServiceDetails/Overview.tsx
  src/modules/73-discovery/components/ServiceDetails/ServiceDetails.module.scss
  src/modules/73-discovery/components/ServiceDetails/ServiceDetails.module.scss.d.ts
  src/modules/73-discovery/components/ServiceDetails/ServiceDetails.tsx
  src/modules/73-discovery/pages/discovery-details/DiscoveryDetails.tsx
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/DiscoveredServices.tsx
  src/modules/73-discovery/strings/strings.en.yaml
  src/services/servicediscovery/index.tsx
  src/stringTypes.ts
Owners: @harness/ui-council

fix: [CDS-71376]: fixed the styles of service name in view table option
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/EnvironmentDetailSummary/EnvironmentDetailTable.tsx
Owners: @harness/ui-cd-core

added public.html, added SSI tag in index.html, ensured that webpack puts public.html in dist directory.
  configs/webpack.dev.js
  configs/webpack.prod.js
  src/index.html
  src/public.html
Owners: @harness/ui-council, @abhinavrastogi-harness

publicAccessOnAccount enabled changes for Pipeline Execution page
  src/framework/AppStore/AppStoreContext.tsx
  src/framework/app/App.tsx
  src/global.d.ts
  src/index.html
  src/modules/70-pipeline/pages/execution-list/ExecutionListSubHeader/ExecutionListSubHeader.tsx
  src/modules/70-pipeline/pages/pipeline-details/PipelineDetails.tsx
  src/public.html
Owners: @harness/ui-council, @harness/ui-pipeline

minor changes
  src/modules/70-pipeline/components/LogsContent/components/GroupedLogs.tsx
  src/modules/70-pipeline/components/LogsContent/components/LogsSelectionProvider/LogsSelectionProvider.tsx
Owners: @harness/ui-pipeline

fix: [CDS-71376]: fixed the table css for service name
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/EnvironmentDetailSummary/EnvironmentDetailTable.tsx
Owners: @harness/ui-cd-core

fix: [CDS-71376]: fixed the table css for service name
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/EnvironmentDetailSummary/EnvironmentDetailTable.tsx
Owners: @harness/ui-cd-core

minor fix
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
Owners: @harness/ui-templates

fix: [PL-39306]: [Next-Gen] Custom Secret Manager Template - recursiv… (#16245)
  package.json
  src/modules/72-templates-library/pages/TemplatesPage/views/TemplateListCardContextMenu/TemplateListCardContextMenu.tsx
Owners: @harness/ui-council, @harness/ui-templates

feat: [CDS-53874]: added error toaster for placeholder expression
  src/modules/70-pipeline/utils/runPipelineUtils.ts
  src/modules/72-triggers/components/Triggers/WebhookTrigger/WebhookTriggerWizard.tsx
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.module.scss
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.module.scss.d.ts
  src/modules/72-triggers/pages/triggers/views/WebhookPipelineInputPanel.tsx
  src/modules/72-triggers/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-pipeline, @harness/ui-triggers

Public access
  .env.example
  configs/webpack.dev.js
  src/framework/AppStore/AppStoreContext.tsx
  src/framework/app/App.tsx
  src/global.d.ts
  src/index.html
  src/modules/70-pipeline/pages/execution-list/ExecutionListSubHeader/ExecutionListSubHeader.tsx
  src/modules/70-pipeline/pages/pipeline-details/PipelineDetails.tsx
Owners: @harness/ui-council, @abhinavrastogi-harness, @harness/ui-pipeline

fix: [PL-39306]: [Next-Gen] Custom Secret Manager Template - recursive resolution of secret manager stored in remote (#16247)
  package.json
  src/modules/72-templates-library/pages/TemplatesPage/views/TemplateListCardContextMenu/TemplateListCardContextMenu.tsx
Owners: @harness/ui-council, @harness/ui-templates

chore: [PL-39313]: remove versions.html and package versions
  configs/webpack.prod.js
  src/versions.html
Owners: @harness/ui-council, @abhinavrastogi-harness

fix: [OIP-472]: Fix request body label name in display
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/components/ExternalAPICallBodyContent/ExternalAPICallBodyContent.tsx
Owners: @harness/ui-cv

fix: [OIP-472]: Fix snapshot failure
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/__snapshots__/ExternalAPICallContent.test.tsx.snap
Owners: @harness/ui-cv

fix: [OIP-472]: Fix the scenario where the data is not present
  src/modules/85-cv/hooks/useLogContentHook/__test__/ExecutionLog.mock.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/ExternalAPICallContent.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/ExternalAPICallContent.test.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/components/ExternalAPICallBodyContent/ExternalAPICallBodyContent.tsx
Owners: @harness/ui-cv

fix: [OIP-472]: Add additional details to request details
  src/modules/85-cv/hooks/useLogContentHook/__test__/ExecutionLog.mock.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/ExternalAPICallContent.constants.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/ExternalAPICallContent.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/ExternalAPICallContent.utils.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/ExternalAPICallContent.test.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/__snapshots__/ExternalAPICallContent.test.tsx.snap
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/components/ExternalAPICallBodyContent/ExternalAPICallBodyContent.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/components/KeyValuePairDisplay.tsx
Owners: @harness/ui-cv

fix: [OIP-472]: Refactor
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/ExternalAPICallContent.utils.ts
Owners: @harness/ui-cv

fix: [OIP-472]: Add tests pass coverage
  src/modules/85-cv/hooks/useLogContentHook/__test__/ExecutionLog.mock.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/ExternalAPICallContent.test.tsx
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/__test__/ExternalAPICallContent.utils.test.ts
  src/modules/85-cv/hooks/useLogContentHook/views/ExternalAPICall/components/ExternalAPICallBodyContent/ExternalAPICallBodyContent.tsx
Owners: @harness/ui-cv

fix: updated test cases
  src/modules/45-projects-orgs/pages/projects/__tests__/ProjectDetails.test.tsx
  src/modules/45-projects-orgs/pages/projects/__tests__/__snapshots__/ProjectDetails.test.tsx.snap
Owners: @harness/ui-platform

fix: [CDS-71320]: fixing expression type in jenkins jobName (#16250)
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/JenkinsArtifact/JenkinsArtifact.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/JenkinsArtifactSource/JenkinsArtifactSource.tsx
Owners: @harness/ui-pipeline

fix: [PLG-964]: removing extend trial call
  src/modules/10-common/layouts/TrialLicenseBanner.tsx
Owners: @harness/ui-council, @harness/ui-plg

fix: [PLG-964]: updating test cases
  src/modules/10-common/layouts/__tests__/TrialLicenseBanner.test.tsx
  src/modules/10-common/layouts/__tests__/__snapshots__/TrialLicenseBanner.test.tsx.snap
Owners: @harness/ui-council, @harness/ui-plg

fix: [OIP-274]: Pass TemplateScope while fetching InputSet
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplate.tsx
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplateCanvas.utils.ts
  src/modules/85-cv/components/MonitoredServiceTemplate/components/__tests__/MonitoredServiceTemplateCanvas.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.tsx
Owners: @harness/ui-cv

fix: [OIP-513]: Pass TemplateScope while fetching InputSet (#16257)
  package.json
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplate.tsx
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplateCanvas.utils.ts
  src/modules/85-cv/components/MonitoredServiceTemplate/components/__tests__/MonitoredServiceTemplateCanvas.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.tsx
Owners: @harness/ui-council, @harness/ui-cv

fix: [OIP-274]: Pass TemplateScope while fetching InputSet (#16258)
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplate.tsx
  src/modules/85-cv/components/MonitoredServiceTemplate/components/MonitoredServiceTemplateCanvas.utils.ts
  src/modules/85-cv/components/MonitoredServiceTemplate/components/__tests__/MonitoredServiceTemplateCanvas.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.tsx
Owners: @harness/ui-cv

fix: updated cypress tests
  cypress/support/commands.ts
  src/modules/10-common/pages/login/LoginPage.tsx
Owners: none

fixed edge case for template studio by sending repo from repoidentifer
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

fix: [PLG-964]: updating test cases
  src/modules/10-common/layouts/TrialLicenseBanner.tsx
  src/modules/10-common/layouts/__tests__/TrialLicenseBanner.test.tsx
Owners: @harness/ui-council, @harness/ui-plg

feat: [CDS-71577]: enforce Required property in Execution Runtime Form (#16264)
  src/modules/70-pipeline/components/execution/StepDetails/tabs/ExecutionInputs/ExecutionInputs.tsx
Owners: @harness/ui-pipeline

feat: Added fallback to read account id from localstorage (#16266)
  src/index.html
Owners: @harness/ui-council

working code
  src/modules/10-common/factories/CommonComponentsFactory.tsx
  src/modules/30-secrets/components/CreateUpdateSecret/CreateUpdateSecret.tsx
  src/modules/30-secrets/pages/secrets/views/SecretsListView/SecretsList.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @harness/ui-platform

fix: updated open CV command
  cypress/support/commands.ts
Owners: none

feat: [CDS-68142]: Cleanup CD_TRIGGER_CATALOG_API_ENABLED FF
  src/modules/10-common/featureFlags.ts
  src/modules/72-triggers/pages/triggers/__tests__/TriggersListUtils.test.ts
  src/modules/72-triggers/pages/triggers/utils/TriggersListUtils.ts
  src/modules/72-triggers/pages/triggers/views/TriggersList.tsx
Owners: @harness/ui-triggers

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness
src/index.html @harness/ui-council
src/microfrontends/ @abhinavrastogi-harness @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/services/cv @harness/ui-cv
src/services/sto @harness/ui-sto
src/services/ce @harness/ui-ce
src/services/ticket-service @harness/ui-sto
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/38-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/75-cet @harness/error-tracking
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/38-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-pipeline
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/70-pipeline/interfaces/STOApp.ts @harness/ui-sto
src/modules/70-pipeline/pages/execution/ExecutionSecurityView @harness/ui-sto
src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm @harness/ui-cd-core
src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm @harness/ui-cd-core
src/modules/72-templates-library @harness/ui-templates
src/modules/72-freeze-windows @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications @harness/ui-cd-core
src/modules/75-cd/components/Services/ServiceStudio @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesArtifacts @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/PrimaryArtifact @harness/ui-cd-core
src/modules/75-cd/components/EnvironmentsV2 @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentGroupStep @harness/ui-cd-core
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-cd-core
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
src/modules/75-chaos @harness/ui-chaos
src/modules/70-pipeline/pages/execution/ResilienceView @harness/ui-chaos
