Repository sathish-soundarapandian/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-cv, @harness/ui-sto, @harness/ui-ce, @harness/ui-platform, @harness/error-tracking, @harness/ui-pipeline, @harness/ui-cd-core, @harness/ui-templates, @harness/ui-ci, @harness/ui-triggers, @harness/ui-chaos

fixed edge cases for different repo different branch
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
Owners: @harness/ui-templates

feat: [PL-39024]: delegate step in smtp config
  src/modules/10-common/components/ResourceCardList/ResourceCardList.tsx
  src/modules/10-common/components/Smtp/CreateSmtpWizard.tsx
  src/modules/10-common/components/Smtp/SmtpDetails.tsx
  src/modules/10-common/components/Smtp/views/StepCredentials.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
Owners: @harness/ui-council

working code
  src/microfrontends/webpack.config.js
Owners: @abhinavrastogi-harness, @knagurski, @tan-nhu

feat: [CDS-70658]: GA - FF - 'PIE_DEPRECATE_PAUSE_INTERRUPT_NG' & and interrupt type enum update (#16066) (#16121)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ExecutionActions/ExecutionActions.tsx
  src/modules/70-pipeline/components/ExecutionActions/__tests__/ExecutionActions.test.tsx
  src/modules/70-pipeline/components/ExecutionActions/__tests__/__snapshots__/ExecutionActions.test.tsx.snap
  src/modules/70-pipeline/components/Notifications/Steps/PipelineEvents.tsx
  src/services/pipeline-ng/index.tsx
Owners: @harness/ui-pipeline, @harness/ui-council

chore: [CHAOS-1701]: Create Infra API integration
  src/modules/73-discovery/pages/home/DiscoveryPage.tsx
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.tsx
  src/services/servicediscovery/index.tsx
Owners: @harness/ui-council

fix: [OIP-473]: initial promopt checkbox setup
  src/modules/85-cv/pages/health-source/common/CVPromptCheckbox/CVPromptCheckbox.tsx
  src/modules/85-cv/pages/health-source/common/CVPromptCheckbox/CVPromptCheckbox.types.tsx
  src/modules/85-cv/pages/health-source/common/CheckboxWithPrompt/CheckboxWithPrompt.tsx
  src/modules/85-cv/pages/health-source/common/SelectHealthSourceServices/SelectHealthSourceServices.tsx
  src/modules/85-cv/pages/health-source/common/SelectHealthSourceServices/SelectHealthSourceServices.types.ts
  src/modules/85-cv/pages/health-source/connectors/PrometheusHealthSource/PrometheusHealthSource.tsx
Owners: @harness/ui-cv

Revert "feat: [CDS-68827]: support child pipeline expression suggestion in Outputs Tab (#15873)" (#16123)
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageOutputSection/PipelineStageOutputSection.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageOutputSection/VariableOutputPanel.tsx
Owners: @harness/ui-pipeline

feat: [CDS-70060]:ssh-winrm-github-package
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactHelper.ts
Owners: @harness/ui-pipeline

feat: [CDS-68852]: Revert - support child pipeline expression suggestion in Outputs Tab (#15873) (#16124)
  package.json
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageOutputSection/PipelineStageOutputSection.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageOutputSection/VariableOutputPanel.tsx
Owners: @harness/ui-council, @harness/ui-pipeline

feat: passed on NavExapndable component down to CCM MFE
  src/modules/75-ce/RouteDestinations.tsx
  src/modules/75-ce/interface/CCMUIApp.types.ts
Owners: @harness/ui-ce

eslint fix
  src/modules/70-pipeline/components/PipelineStudio/PipelineQueryParamState/usePipelineQueryParam.ts
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.tsx
Owners: @harness/ui-pipeline

Deploy stage details - overview update
  src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications/SelectDeploymentType/SelectDeploymentType.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/DeployStage.module.scss
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/DeployStage.module.scss.d.ts
Owners: @harness/ui-cd-core, @harness/ui-pipeline

review comments updates
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/DeployStage.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/BuildStageSetupShell.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

minor fix
  src/modules/70-pipeline/components/PipelineStudio/PipelineQueryParamState/usePipelineQueryParam.ts
Owners: @harness/ui-pipeline

move stage details to right drawer
  src/modules/10-common/components/NameIconHeader/NameIconHeader.tsx
  src/modules/70-pipeline/components/PipelineStudio/ExecutionGraph/ExecutionGraph.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvasHeader.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/__tests__/PipelineCanvas.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/__tests__/PipelineCanvasTestHelper.ts
  src/modules/70-pipeline/components/PipelineStudio/PipelineQueryParamState/usePipelineQueryParam.ts
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilder.tsx
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilderUtil.ts
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.module.scss
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.tsx
  src/modules/72-templates-library/components/TemplateStudio/PipelineTemplateCanvas/PipelineTemplateCanvas.tsx
  src/modules/72-templates-library/components/TemplateStudio/PipelineTemplateCanvas/__tests__/PipelineTemplateCanvas.test.tsx
  src/modules/72-templates-library/components/TemplateStudio/StepGroupTemplateCanvas/StepGroupTemplateDiagram/StepGroupTemplateDiagram.tsx
  src/modules/72-templates-library/components/TemplateStudio/StepGroupTemplateCanvas/StepGroupTemplateDiagram/__tests__/StepGroupTemplateDiagram.test.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/DeployStage.module.scss
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/DeployStageSetupShell.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildAdvancedSpecifications/BuildAdvancedSpecifications.tsx
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/BuildStageSetupShell.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/BuildStageSetupShell.module.scss.d.ts
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/BuildStageSetupShell.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStageSpecifications/BuildStageSpecifications.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStageSpecifications/BuildStageSpecifications.module.scss.d.ts
  src/modules/75-ci/components/PipelineStudio/BuildStageSpecifications/BuildStageSpecifications.tsx
Owners: @harness/ui-pipeline, @harness/ui-templates, @harness/ui-ci

eslint fix
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.tsx
  src/modules/75-ci/components/PipelineStudio/BuildAdvancedSpecifications/BuildAdvancedSpecifications.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CDS-69250]: move stage details to right drower
  src/modules/70-pipeline/components/PipelineStudio/ExecutionGraph/ExecutionGraph.module.scss
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvasHeader.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineActions.ts
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/PipelineContext.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineQueryParamState/usePipelineQueryParam.ts
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilder.module.scss
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilder.tsx
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.module.scss
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.tsx
  src/modules/70-pipeline/v1/components/PipelineStudioV1/PipelineContextV1/PipelineContextV1.tsx
  src/stringTypes.ts
  src/strings/strings.en.yaml
Owners: @harness/ui-pipeline

self review fixes
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/__tests__/PipelineCanvas.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilder.module.scss
  src/modules/70-pipeline/components/PipelineStudio/StageBuilder/StageBuilder.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
  src/strings/strings.en.yaml
Owners: @harness/ui-pipeline

fix test
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/__test__/__snapshots__/BuildStageSetupShell.test.tsx.snap
Owners: @harness/ui-ci

minor fix
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/BuildStageSetupShell.tsx
Owners: @harness/ui-ci

minor fix
  src/modules/70-pipeline/components/PipelineStudio/StageRightDrawer/StageRightDrawer.tsx
Owners: @harness/ui-pipeline

fix: [CDS-70776]: fixed initialvalues on artifactory artifact
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/Artifactory.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/ArtifactoryArtifactSource/ArtifactoryArtifactSource.tsx
Owners: @harness/ui-pipeline

fix: [CDS-70776]: fixed jsx for artifactory
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/Artifactory.tsx
Owners: @harness/ui-pipeline

feat: [CDS-69800]: Show trigger status and message in activity history page (#16136)
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerActivityHistoryPage/TriggerActivityHistoryPage.module.scss
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerActivityHistoryPage/TriggerActivityHistoryPage.module.scss.d.ts
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerActivityHistoryPage/TriggerActivityList.tsx
Owners: @harness/ui-triggers

chore: [FFM-8099]: Hotfix (#16137)
  package.json
  src/modules/75-cf/components/FlagActivation/FlagActivationDetails.tsx
  src/modules/75-cf/components/FlagActivation/FlagPrerequisites.tsx
  src/modules/75-cf/components/FlagActivation/LinkJiraIssueModal.tsx
  src/modules/75-cf/components/FlagActivation/ServicesList.tsx
  src/modules/75-cf/components/FlagDetailsOptionsMenuButton/FlagDetailsOptionsMenuButton.tsx
Owners: @harness/ui-council

working code
  src/modules/10-common/factories/CommonComponentsFactory.tsx
  src/modules/30-secrets/components/CreateUpdateSecret/CreateUpdateSecret.tsx
  src/modules/35-connectors/components/ConnectorReferenceField/ConnectorReferenceField.tsx
Owners: @harness/ui-platform

fix: [PL-38632]: adding hardcoded image registry
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.tsx
Owners: none

working code
  src/modules/10-common/components/Smtp/CreateSmtpWizard.tsx
  src/modules/35-connectors/components/CreateConnector/commonSteps/DelegateSelectorStep/DelegateSelectorStep.tsx
  src/modules/35-connectors/hooks/useCreateEditConnector.tsx
Owners: @harness/ui-platform

fix: [CDS-67696]: adding skip toggle for step and stage nodes
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/DefaultNode.module.scss
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/DefaultNode.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.module.scss
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStepNode/PipelineStepNode.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightDrawer/RightDrawer.tsx
Owners: @harness/ui-pipeline

fix: added toggle in stepgroup nodealso
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/StepGroupNode/StepGroupNode.tsx
Owners: @harness/ui-pipeline

fix: icons updated
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/DefaultNode.module.scss
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/DefaultNode.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStepNode/PipelineStepNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/StepGroupNode/StepGroupNode.tsx
  src/modules/72-templates-library/components/TemplateStudio/StageTemplateCanvas/__tests__/__snapshots__/StageTemplateCanvas.test.tsx.snap
Owners: @harness/ui-pipeline, @harness/ui-templates

fix: prettier fix
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/DefaultNode.module.scss
Owners: @harness/ui-pipeline

chore: [FFM-8099]: Hotfix 0.350.x (#16160)
  package.json
  src/modules/75-cf/components/FlagActivation/FlagActivationDetails.tsx
  src/modules/75-cf/components/FlagActivation/FlagPrerequisites.tsx
  src/modules/75-cf/components/FlagActivation/LinkJiraIssueModal.tsx
  src/modules/75-cf/components/FlagActivation/ServicesList.tsx
  src/modules/75-cf/components/FlagDetailsOptionsMenuButton/FlagDetailsOptionsMenuButton.tsx
Owners: @harness/ui-council

chore: [CDS-69254]: reverted pipeline studio switching to yamlview on error (#16152)
  package.json
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/__tests__/PipelineCanvas.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineStudioInternal/PipelineStudioInternal.tsx
  src/modules/70-pipeline/components/PipelineStudio/__tests__/PipelineStudio.test.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-council, @harness/ui-pipeline

feat: [SRM-14862]: Fixed Infra Monitored Service creation (#16128) (#16165)
  src/modules/85-cv/pages/monitored-service/components/Configurations/Configurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/Configurations.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/__tests__/Configurations.mock.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/__tests__/Configurations.util.test.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/Service.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/MonitoredServiceOverview.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/component/OrgAccountLevelServiceEnvField/OrgAccountLevelServiceEnvField.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/component/OrgAccountLevelServiceEnvField/OrgAccountLevelServiceEnvField.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/component/OrgAccountLevelServiceEnvField/__tests__/OrgAccountLevelServiceEnvField.test.tsx
Owners: @harness/ui-cv

working code
  src/modules/10-common/components/Smtp/CreateSmtpWizard.tsx
  src/modules/10-common/components/Smtp/SmtpDetails.tsx
  src/modules/10-common/components/Smtp/useCreateSmtpModal.module.scss
  src/modules/10-common/components/Smtp/views/StepCredentials.tsx
  src/modules/10-common/components/Smtp/views/StepDetails.tsx
  src/modules/10-common/components/Smtp/views/StepTestConnection.tsx
  src/modules/35-connectors/components/CreateConnector/commonSteps/DelegateSelectorStep/DelegateSelector/DelegateSelector.tsx
  src/modules/35-connectors/components/CreateConnector/commonSteps/DelegateSelectorStep/DelegateSelectorStep.tsx
  src/modules/35-connectors/hooks/useCreateEditConnector.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-platform

feat: [PLG-2329]: updating credit card verification flow
  src/modules/33-auth-settings/components/Subscription/PaymentMethod/PaymentMethod.tsx
  src/modules/33-auth-settings/pages/Billing/BillingPage.tsx
  src/modules/33-auth-settings/pages/Billing/CreditCardVerification.module.scss
  src/modules/33-auth-settings/pages/Billing/CreditCardVerification.module.scss.d.ts
  src/modules/33-auth-settings/pages/Billing/CreditCardVerification.tsx
  src/modules/33-auth-settings/pages/Billing/CreditCardWidget.tsx
  src/modules/33-auth-settings/pages/Billing/FooterCreditCard.tsx
  src/modules/33-auth-settings/pages/Billing/PaymentMethods.tsx
  src/modules/33-auth-settings/strings/strings.en.yaml
  src/stringTypes.ts
  src/strings/strings.en.yaml
Owners: @harness/ui-platform

fix: [SRM-14862]: Version bump (#16170)
  package.json
Owners: @harness/ui-council

fix: pipelineStatus status issue fixeD
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.tsx
Owners: @harness/ui-pipeline

feat: [SRM-14897]: Fix /slo/create rendering details page (#16028) (#16177)
  package.json
  src/modules/85-cv/RouteDestinations.tsx
  src/modules/RouteDestinations.tsx
Owners: @harness/ui-council, @harness/ui-cv

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness
src/index.html @harness/ui-council
src/microfrontends/ @abhinavrastogi-harness @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/services/cv @harness/ui-cv
src/services/sto @harness/ui-sto
src/services/ce @harness/ui-ce
src/services/ticket-service @harness/ui-sto
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/38-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/75-cet @harness/error-tracking
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/38-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-pipeline
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/70-pipeline/interfaces/STOApp.ts @harness/ui-sto
src/modules/70-pipeline/pages/execution/ExecutionSecurityView @harness/ui-sto
src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm @harness/ui-cd-core
src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm @harness/ui-cd-core
src/modules/72-templates-library @harness/ui-templates
src/modules/72-freeze-windows @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications @harness/ui-cd-core
src/modules/75-cd/components/Services/ServiceStudio @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesArtifacts @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/PrimaryArtifact @harness/ui-cd-core
src/modules/75-cd/components/EnvironmentsV2 @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentGroupStep @harness/ui-cd-core
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-cd-core
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
src/modules/75-chaos @harness/ui-chaos
src/modules/70-pipeline/pages/execution/ResilienceView @harness/ui-chaos
