Repository sathish-soundarapandian/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-cv, @harness/ui-sto, @harness/ui-ce, @harness/ui-platform, @harness/error-tracking, @harness/ui-pipeline, @harness/ui-cd-core, @harness/ui-templates, @harness/ui-ci, @harness/ui-triggers, @harness/ui-chaos

feat: [OIP-424]: sync with develop
  src/modules/85-cv/RouteDestinations.tsx
Owners: @harness/ui-cv

feat: [OIP-424]: sync with develop
  src/modules/33-auth-settings/pages/subscriptions/__tests__/__snapshots__/ServiceLicenseGraphs.test.tsx.snap
Owners: @harness/ui-plg

feat: [CDS-69167]: Updated pipeline swagger (#16087)
  src/modules/72-triggers/pages/triggers/utils/TriggersListUtils.ts
  src/services/pipeline-ng/index.tsx
Owners: @harness/ui-triggers, @harness/ui-council

fix: [CDS-67696]: adding skip toggle for step and stage nodes
  package.json
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/__snapshots__/DeployServiceEntityWidget.MultiService.test.tsx.snap
Owners: @harness/ui-council, @harness/ui-cd-core

chore: [CHAOS-1701]: Adding create DAgent API
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.module.scss
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.module.scss.d.ts
  src/modules/73-discovery/pages/home/views/create-discovery-agent/CreateDAgent.tsx
  src/modules/73-discovery/strings/strings.en.yaml
  src/stringTypes.ts
Owners: none

fix: [CDS-70771]: fixed stage selection logic (#16083)
  src/modules/72-triggers/components/StageSelection/StageSelection.tsx
Owners: @harness/ui-triggers

feat: [PL-39164]: Add accountIdentifier queryParam in update user call (#16090)
  package.json
  src/modules/38-user-profile/modals/UserProfile/views/EditUserProfile.tsx
Owners: @harness/ui-council, @harness/ui-platform

feat:[PLG-2329]: credit card verifiction flow
  src/modules/33-auth-settings/pages/Billing/BillingPage.tsx
  src/modules/33-auth-settings/pages/Billing/CreditCardWidget.tsx
Owners: @harness/ui-platform

feat: [PL-39164]: send accountIdentifier in queryParams in useUpdateUserInfo call (#16092)
  src/modules/38-user-profile/modals/UserProfile/views/EditUserProfile.tsx
Owners: @harness/ui-platform

feat: [CDS-56693]:updated-rancher-connector-type
  src/modules/35-connectors/constants.ts
  src/services/cd-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-council

feat: [CDS-56693]:fix-rancher
  src/modules/35-connectors/constants.ts
  src/services/cd-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-council

feat: [CDS-56693]:fix
  src/modules/35-connectors/constants.ts
  src/services/cd-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-council

feat: [CDS-56693]:added-rancher
  src/modules/35-connectors/constants.ts
  src/services/cd-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-council

feat: updated logic for showing gitbranch in yaml by introducing default branch in template interface
  src/framework/Templates/TemplateSelectorContext/useTemplateSelector.ts
  src/modules/10-common/components/GitPopoverV2/GitPopoverV2.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/types.ts
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/types.ts
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/hooks/useAddStepTemplate.ts
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/72-templates-library/components/TemplateDetails/TemplateDetails.tsx
  src/modules/72-templates-library/components/TemplateStageSpecifications/TemplateStageSpecifications.tsx
  src/modules/75-cd/components/PipelineSteps/InfraProvisioning/InfraProvisioningBase.tsx
  src/modules/75-cd/components/PipelineSteps/InfraProvisioning/InfraProvisoningEntityBase.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageViewInterface.ts
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-council, @harness/ui-pipeline, @harness/ui-templates, @harness/ui-ci

feat: [OIP-424]: adding initial set of testcases
  src/modules/85-cv/components/MonitoredServiceWidget/components/CommonMonitoredServiceDetails/__tests__/CommonMonitoredServiceDetails.test.tsx
  src/modules/85-cv/components/MonitoredServiceWidget/components/CommonMonitoredServiceListView/components/ServiceName/__tests__/ServiceName.test.tsx
  src/modules/85-cv/pages/monitored-service/views/DetailsToolbar.tsx
Owners: @harness/ui-cv

minor fixes
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineTemplateBuilder/TemplatePipelineCanvas/TemplatePipelineCanvas.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cf/pages/pipeline-studio/views/FeatureFlagStage/FeatureAddStageView/FeatureAddStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
Owners: @harness/ui-pipeline, @harness/ui-ci

feat: [CDS-56693]:added-rancher (#16097)
  src/modules/35-connectors/constants.ts
  src/services/cd-ng/index.tsx
Owners: @harness/ui-platform, @harness/ui-council

feat: [PLG-2433]: mocking the graphs date
  src/modules/33-auth-settings/pages/subscriptions/__tests__/ServiceLicenseGraphs.test.tsx
Owners: @harness/ui-plg

fix: [CDS-70566]: removed useEffect and used setToFalseWhenEmpty prop in FormMultiTypeCheckboxField
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
Owners: @harness/ui-cd-core

fix: [CDS-70566]: removed useEffect and used setToFalseWhenEmpty prop in FormMultiTypeCheckboxField
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
Owners: @harness/ui-cd-core

feat: [PLG-2433]: mocking the graphs date (#16100)
  src/modules/33-auth-settings/pages/subscriptions/__tests__/ServiceLicenseGraphs.test.tsx
Owners: @harness/ui-plg

fix: default value fixed
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
Owners: @harness/ui-cd-core

fix: default value fixeD
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
Owners: @harness/ui-cd-core

eat: [CDS-70781]: Add GITOPS_IAM FF-preqa
  src/microfrontends/package.json
  src/modules/10-common/featureFlags.ts
Owners: @abhinavrastogi-harness, @knagurski, @tan-nhu

Create idp-demo-qa-vp-core-ui.yaml
  idp-demo-qa-vp-core-ui.yaml
Owners: none

fix: default value changed to true
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/__snapshots__/DeployServiceEntityWidget.MultiService.test.tsx.snap
Owners: @harness/ui-cd-core

feat: [CDS-68892]: integrate latest swagger for Retry Failure Strategy for step group
  src/modules/70-pipeline/utils/FailureStrategyUtils.ts
  src/services/cd-ng/index.tsx
  src/services/pipeline-ng/index.tsx
Owners: @harness/ui-pipeline, @harness/ui-council

feat: [CDS-68892]: integrate latest swagger for Retry Failure Strategy for step group
  src/modules/70-pipeline/components/execution/StepDetails/tabs/ManualInterventionTab/__tests__/ManualInterventionTab.test.tsx
Owners: @harness/ui-pipeline

feat: [IAC-621]: Add iacm terraform plugin (#15950)
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/utils/stepUtils.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformPlugin.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformPluginInputStep.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformVariableStep.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/StepTypes.types.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPlugin.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPluginInputStep.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPluginVariableStep.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/MetaData.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/VariablesData.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/index.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/index.ts
  src/modules/85-iacm/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-pipeline

chore: bump version number
  package.json
Owners: @harness/ui-council

feat: [CDS-70781]: Add GITOPS_IAM FF-preqa (#16105)
  src/microfrontends/package.json
  src/modules/10-common/featureFlags.ts
Owners: @abhinavrastogi-harness, @knagurski, @tan-nhu

fix: rebased
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/__snapshots__/DeployServiceEntityWidget.MultiService.test.tsx.snap
Owners: @harness/ui-cd-core

feat: [PL-38632]: Added discovery agent and discovery services table
  src/modules/10-common/RouteDefinitions.ts
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.module.scss
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.module.scss.d.ts
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.tsx
  src/modules/73-discovery/pages/discovery-details/DiscoveryDetails.module.scss
  src/modules/73-discovery/pages/discovery-details/DiscoveryDetails.tsx
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/DiscoveredServices.tsx
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/DiscoveryServices.module.scss
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/DiscoveryServices.module.scss.d.ts
  src/modules/73-discovery/pages/home/DiscoveryPage.module.scss
  src/modules/73-discovery/pages/home/DiscoveryPage.module.scss.d.ts
  src/modules/73-discovery/pages/home/DiscoveryPage.tsx
  src/services/servicediscovery/index.tsx
Owners: @harness/ui-council

fix: lint
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsTable.tsx
Owners: @harness/ui-cd-core

fix: lint
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsDrawer.tsx
Owners: @harness/ui-cd-core

fix: lint
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsTableCells.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/utils.ts
Owners: @harness/ui-cd-core

feat: [SSCA-66] ssca artifact list view | using restful react temporarily | start integrating react-ssca-service-client (#16062) (#16067)
  configs/devServerProxy.config.js
  configs/restful-react.config.js
  jest.config.js
  package.json
  src/framework/app/App.tsx
  src/framework/hooks/useOpenAPIClients.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/ArtifactsTable/ArtifactTableCells.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/ArtifactsTable/ArtifactsTable.module.scss
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/ArtifactsTable/ArtifactsTable.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/ExecutionArtifactListView.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolations.module.scss
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolations.module.scss.d.ts
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsDrawer.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsTable.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/PolicyViolationsTableCells.tsx
  src/modules/70-pipeline/pages/execution/ExecutionArtifactsView/PolicyViolations/utils.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/75-ssca/components/PipelineSteps/SscaEnforcementStep/SscaEnforcementStepEdit.tsx
  src/modules/75-ssca/components/PipelineSteps/SscaEnforcementStep/SscaEnforcementStepInputSet.tsx
  src/modules/75-ssca/components/PipelineSteps/SscaOrchestrationStep/SscaOrchestrationStepEdit.tsx
  src/modules/75-ssca/components/PipelineSteps/SscaOrchestrationStep/SscaOrchestrationStepInputSet.tsx
  src/services/ssca/index.tsx
  src/services/ssca/swagger.json
  src/stringTypes.ts
  yarn.lock
Owners: @harness/ui-council, @abhinavrastogi-harness, @harness/ui-cd-core, @harness/ui-pipeline

feat: [IAC-650]: Add iacm terraform plugin (Hotfix) (#16112)
  package.json
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/utils/stepUtils.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformPlugin.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformPluginInputStep.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/IACMTerraformVariableStep.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/StepTypes.types.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPlugin.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPluginInputStep.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/IACMTerraformPluginVariableStep.test.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/MetaData.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/__tests__/VariablesData.ts
  src/modules/85-iacm/components/IACMPipelineSteps/IACMTerraformPlugin/index.tsx
  src/modules/85-iacm/components/IACMPipelineSteps/index.ts
  src/modules/85-iacm/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-council, @harness/ui-pipeline

fix: [CDS-70776]: fixed the initialvalues for artifactory
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactUtils.ts
Owners: @harness/ui-pipeline

fix: [CDS-70776]: fixed issues with artifactory
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactInterface.ts
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/Artifactory.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/__tests__/Artifactory_generic_flow.test.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/__tests__/__snapshots__/Artifactory.test.tsx.snap
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/__tests__/__snapshots__/Artifactory_generic_contd.test.tsx.snap
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/__tests__/__snapshots__/Artifactory_generic_flow.test.tsx.snap
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactUtils.ts
Owners: @harness/ui-pipeline

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness
src/index.html @harness/ui-council
src/microfrontends/ @abhinavrastogi-harness @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/services/cv @harness/ui-cv
src/services/sto @harness/ui-sto
src/services/ce @harness/ui-ce
src/services/ticket-service @harness/ui-sto
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/38-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/75-cet @harness/error-tracking
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/38-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-pipeline
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/70-pipeline/interfaces/STOApp.ts @harness/ui-sto
src/modules/70-pipeline/pages/execution/ExecutionSecurityView @harness/ui-sto
src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm @harness/ui-cd-core
src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm @harness/ui-cd-core
src/modules/72-templates-library @harness/ui-templates
src/modules/72-freeze-windows @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications @harness/ui-cd-core
src/modules/75-cd/components/Services/ServiceStudio @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesArtifacts @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/PrimaryArtifact @harness/ui-cd-core
src/modules/75-cd/components/EnvironmentsV2 @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentGroupStep @harness/ui-cd-core
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-cd-core
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
src/modules/75-chaos @harness/ui-chaos
src/modules/70-pipeline/pages/execution/ResilienceView @harness/ui-chaos
