Repository sathish-soundarapandian/harness-core-ui, changes with the owners that CODEOWNERS names for each.
All owners: @harness/ui-council, @abhinavrastogi-harness, @knagurski, @tan-nhu, @harness/ui-plg, @harness/ui-cv, @harness/ui-sto, @harness/ui-ce, @harness/ui-platform, @harness/error-tracking, @harness/ui-pipeline, @harness/ui-cd-core, @harness/ui-templates, @harness/ui-ci, @harness/ui-triggers, @harness/ui-chaos

fix: [CI-8191]: Adding code from develop for QA hotfix
  package.json
  src/modules/10-common/constants/Utils.ts
  src/modules/10-common/constants/__tests__/Utils.test.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/10-common/utils/utils.ts
  src/modules/45-dashboards/strings/strings.en.yaml
  src/modules/70-pipeline/components/HarnessCopilot/HarnessCopilot.module.scss
  src/modules/70-pipeline/components/HarnessCopilot/HarnessCopilot.module.scss.d.ts
  src/modules/70-pipeline/components/HarnessCopilot/HarnessCopilot.tsx
  src/modules/70-pipeline/components/HarnessCopilot/__tests__/HarnessCopilot.test.tsx
  src/modules/70-pipeline/components/LogsContent/LogsContent.module.scss
  src/modules/70-pipeline/components/LogsContent/LogsContent.module.scss.d.ts
  src/modules/70-pipeline/components/LogsContent/LogsContent.tsx
  src/modules/70-pipeline/components/LogsContent/LogsState/createSections.ts
  src/modules/70-pipeline/components/LogsContent/__tests__/LogsContent.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/tabs/StepDetailsTab/StepDetailsTab.tsx
  src/modules/70-pipeline/context/ExecutionContext.tsx
  src/modules/70-pipeline/factories/ExecutionFactory/types.ts
  src/modules/70-pipeline/pages/execution/ExecutionLandingPage/ExecutionLandingPage.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/70-pipeline/utils/__tests__/executionUtils.test.ts
  src/modules/70-pipeline/utils/__tests__/mockJson/mockExecutionContext.ts
  src/modules/70-pipeline/utils/executionUtils.ts
  src/services/logs/index.tsx
  src/stringTypes.ts
  yarn.lock
Owners: @harness/ui-council, @harness/ui-pipeline

fix: [CDS-71778]: remove the components dropdown from step two (#16274)
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/SubmitTicketModalStepTwo.tsx
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/Utils.tsx
Owners: @harness/ui-plg

latest changes
  configs/devServerProxy.config.js
  configs/modulefederation.config.js
  src/modules/75-sei/RouteDestinations.tsx
  src/modules/RouteDestinations.tsx
Owners: @harness/ui-council, @abhinavrastogi-harness

fix: [CI-8191]: reverting uicore package bump
  package.json
  yarn.lock
Owners: @harness/ui-council

fix: [CI-8191]: snapshot update
  src/modules/70-pipeline/components/LogsContent/__tests__/__snapshots__/LogsContent.test.tsx.snap
Owners: @harness/ui-pipeline

chore: [CHAOS-1701]: Create network map API integration with FE
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.tsx
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.tsx
Owners: none

fix: [CDS-69872]: Support added to disable scope when not required
  src/modules/35-connectors/components/CreateConnector/ServiceNowConnector/ServiceNowDetailsForm.tsx
  src/modules/35-connectors/strings/strings.en.yaml
  src/stringTypes.ts
Owners: @harness/ui-platform

feat: added DEV check on window variable publicAccessOnAccount
  src/index.html
Owners: @harness/ui-council

chore: [CHAOS-1701]: Updating useListService to add page and limit, also adding resources
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.tsx
  src/modules/73-discovery/components/ServiceDetails/Overview.tsx
  src/modules/73-discovery/pages/network-map-studio/views/select-service/SelectService.tsx
  src/services/servicediscovery/index.tsx
Owners: @harness/ui-council

CODEOWNERS:

.github/ @harness/ui-council
.eslintrc.yml @harness/ui-council
.prettierignore @harness/ui-council
.prettierrc.yml @harness/ui-council
package.json @harness/ui-council
tsconfig.json @harness/ui-council
tsconfig-eslint.json @harness/ui-council
jest.config.js @harness/ui-council
coverage-groups.json @harness/ui-council
dockerfile @harness/ui-council
harnessci.Dockerfile @harness/ui-council
restful-react.config.js @harness/ui-council
sonar-project.properties @harness/ui-council
yarn.lock @harness/ui-council
.dockerignore @harness/ui-council
.storybook/ @harness/ui-council
scripts/ @harness/ui-council
certificates/ @harness/ui-council
configs/modulefederation.config.js @abhinavrastogi-harness @knagurski @tan-nhu
configs/ @harness/ui-council @abhinavrastogi-harness
src/index.html @harness/ui-council
src/microfrontends/ @abhinavrastogi-harness @knagurski @tan-nhu
src/framework/ @harness/ui-council
src/framework/featureStore @harness/ui-plg
src/framework/LicenseStore @harness/ui-plg
src/services/ @harness/ui-council
src/services/cv @harness/ui-cv
src/services/sto @harness/ui-sto
src/services/ce @harness/ui-ce
src/services/ticket-service @harness/ui-sto
src/modules/10-common/navigation/ @harness/ui-platform
src/modules/10-common/RouteDefinitions.ts @harness/ui-council
src/modules/10-common/layouts @harness/ui-council @harness/ui-plg
src/modules/10-common/components/ResourceCenter @harness/ui-plg
src/modules/10-common/components/FeatureWarning @harness/ui-plg
src/modules/10-common/components/ModuleInfoCards @harness/ui-plg
src/modules/10-common/components/SvgInline @harness/ui-plg
src/modules/10-common/modals/ExtendTrial @harness/ui-plg
src/modules/10-common/modals/ContactSales @harness/ui-plg
src/modules/10-common/modals/StartTrial @harness/ui-plg
src/modules/10-common/pages/welcome @harness/ui-plg
src/modules/38-audit-trail @harness/ui-platform
src/modules/20-rbac @harness/ui-platform
src/modules/20-rbac/components/TrialHomePageTemplate @harness/ui-plg
src/modules/75-cet @harness/error-tracking
src/modules/33-auth-settings @harness/ui-platform
src/modules/33-auth-settings/pages/subscriptions @harness/ui-plg
src/modules/33-auth-settings/pages/AccountOverview @harness/ui-plg
src/modules/30-secrets @harness/ui-platform
src/modules/35-connectors @harness/ui-platform
src/modules/38-user-profile @harness/ui-platform
src/modules/40-gitsync @harness/ui-pipeline
src/modules/45-projects-orgs @harness/ui-platform
src/modules/45-projects-orgs/pages/HomePageTemplate @harness/ui-plg
src/modules/45-projects-orgs/components/CreateOrSelectAProjectTemplate @harness/ui-plg
src/modules/70-pipeline @harness/ui-pipeline
src/modules/70-pipeline/components/HomePageByModule @harness/ui-plg
src/modules/70-pipeline/components/TrialModalTemplate @harness/ui-plg
src/modules/70-pipeline/interfaces/STOApp.ts @harness/ui-sto
src/modules/70-pipeline/pages/execution/ExecutionSecurityView @harness/ui-sto
src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm @harness/ui-cd-core
src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm @harness/ui-cd-core
src/modules/72-templates-library @harness/ui-templates
src/modules/72-freeze-windows @harness/ui-pipeline
src/modules/75-cd @harness/ui-pipeline
src/modules/75-cd/modals/CDTrial @harness/ui-plg
src/modules/75-cd/pages/home @harness/ui-plg
src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications @harness/ui-cd-core
src/modules/75-cd/components/Services/ServiceStudio @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/KubernetesArtifacts @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/PrimaryArtifact @harness/ui-cd-core
src/modules/75-cd/components/EnvironmentsV2 @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep @harness/ui-cd-core
src/modules/75-cd/components/PipelineSteps/DeployEnvironmentGroupStep @harness/ui-cd-core
src/modules/85-cv @harness/ui-cv
src/modules/85-cv/pages/home @harness/ui-plg
src/modules/85-sto @harness/ui-sto
src/modules/75-ci @harness/ui-ci
src/modules/75-ci/modals/CITrial @harness/ui-plg
src/modules/75-ci/pages/home @harness/ui-plg
src/modules/72-triggers @harness/ui-triggers
src/modules/70-pipeline/pages/execution/ExecutionTestView @harness/ui-ci
src/modules/70-pipeline/components/Volumes @harness/ui-ci
src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm @harness/ui-ci
src/modules/70-pipeline/pages/execution/ExecutionArtifactsView @harness/ui-cd-core
src/modules/75-ce/modals/CETrialModal @harness/ui-plg
src/modules/75-ce/pages/home @harness/ui-plg
src/modules/75-cf/modals/FFTrial @harness/ui-plg
src/modules/75-cf/pages/home @harness/ui-plg
src/modules/75-ce @harness/ui-ce
src/modules/75-chaos @harness/ui-chaos
src/modules/70-pipeline/pages/execution/ResilienceView @harness/ui-chaos
